#ignore secrets
.streamlit/
__pycache__/
test_connection.py
templates/~$Budget_Template_BTA.xlsx
templates/~$Expense_Template_BTA.xlsx
templates/BudgetTemplateTest.xlsx
templates/ExpenseTemplateTest.xlsx